  <div class="columns medium-10 small-12">
    <div class="user">
      {{avatar-wrap profile=user.profile}}
      <div class="user-info">
        <a href="{{href-to 'profile' user.profile.uid}}" class="text-title">{{user.profile.fullName}}</a>
        <div class="position">{{user.profile.career}}</div>
        <div class="position">{{user.profile.location}}</div>
      </div>
    </div>
  </div>
  <div class="columns medium-2 small-12">
    {{#unless isSelf}}
      {{#if isFollowing}}
        {{#if compact}}
          <button class="button expanded bordered follow-button" {{action "unfollow"}}>
            <span class="following-text"><i class="fa fa-check" aria-hidden="true"></i></span>
            <span class="unfollow-text"><i class="fa fa-times" aria-hidden="true"></i></span>
          </button>

        {{else}}
          <button class="button expanded bordered follow-button" {{action "unfollow"}}>
            <span class="following-text">Following</span>
            <span class="unfollow-text">Unfollow</span>
          </button>
        {{/if}}
      {{else}}
        {{#if compact}}
          <button class="button expanded bordered green" {{action "follow"}}>
            <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
        {{else}}
          <button class="button expanded bordered green" {{action "follow"}}>
            Follow
          </button>
        {{/if}}
      {{/if}}
    {{/unless}}
  </div>
