
header{
	background-color: $brydge-blue;
	padding: 0;
	box-shadow: 0 0 2px 0 #404040;
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 100;
	.button{
		font-weight: bold;
	}
	.top-bar-title a{
		display: block;
	}
	.title-bar-left{
		margin-top: .3rem;
	}
	.top-bar{
		@include top-bar-unstack;
		background-color: $brydge-blue;
		color: #FFF;
		padding: 0;
		ul{
			background-color: transparent;
		}
		.thumbnail{
			width: 40px;
			height: 40px;
		}
		.menu > li > a{
			padding-top: 6px;
			padding-bottom: 5px;
		}
		.span-text{
			padding-bottom: 6px;
			display: block;
			line-height: 1rem;
		}
	}

	.logo{
		width: 115px;
	}
	.logo+span{
		vertical-align: bottom !important;
		color: #FFF;
		line-height: 1rem;
		text-transform: uppercase;
		margin-right: 2rem !important;
		font-weight: bold;
	}
	.menu-actions{
		li,span{
			vertical-align: bottom;
		}
		span a{
			padding: 0.5rem 1rem;
			display: block;
		}
		[data-toggle].hover{
			// background-color: darken($button-blue, 10%);
		}
		[data-toggle]+.wrapper{
			position: absolute;
			display: none;
			bottom: -3px;
			width: 100%;
		}
		[data-toggle].hover + .wrapper{
			display: block;
		}
		.user-info{
			vertical-align: middle;
			a{
				padding: 0;
			}
		}
	}
	.menu-action-links{
		margin: .5rem 0;
	}
	a .fa-home{
		font-size: 17px;
		line-height: 2rem;
		color: #414242;
		border-radius: 100px;
		margin: 0;
	}
	.menu ul.menu{
		// margin-top: 5px;
	}
}

header.simple-header{
	.top-bar-left{
		float: none;
	}
	.logo{
		margin: 6px auto;
		margin-right: auto !important;
	}
}

.top-bar-search {
	@extend .search-box;
	margin-right: 2rem;
	.user{
		border-bottom: 1px solid $border-color;
		font-size: 10px;
	}
	.user a{
	}
	.position{
		color: $text-gray;
	}
	form input[type="search"]{
		// width: 470px;
		max-width: inherit;
		border-color: $brydge-blue;
		padding-right: 3rem;
	}
}
