.newsfeed-item{
	@extend .box;
	position: relative;
	.x-button{
		color: #b6c3ca;
		background-color: #FFF;
		padding: 1px 2px;
		border: 1px solid #b6c3ca;
		font-size: 11px;
	}
	section{
		position: relative;
	}
	.button-ellipsis{
		width: auto;
		float: right;
	}
	.timestamp{
		font-size: 12px;
		font-weight: normal;
	}
	.user{
		.tags{
			right: 1rem;
		}
	}
	.content{
		padding: 1rem;
	}
	div + .media, div + .shared-post{
		margin-top: 1.5rem;
	}
	.media{
		margin-top: 10px;
		iframe{
			width: 100%;
		}
		.fa-times{
			position: absolute;
			top: 11px;
			right: 5px;
		}
	}
	.newsfeed-content{
		font-size: 14px;
		line-height: 20px;
	}
	.post-actions{
		padding: .3rem 1rem;
		a{
			font-weight: bold;
		}
		a.acted+span{
			transition:all 300ms ease-out;
			opacity: 0;
		}
		a.acted+span:not(:empty){
			opacity: 1;
		}
		a:not(.acted){
			color: $text-gray;
		}
		a+span{
			margin-left: 5px;
		}
	}
	.title{
		margin-bottom: 13px;
	}
	.title a{
		// font-family: 'Merriweather', serif;
		font-size: 17px;
		font-weight: bold;
		color: $body-text-color;
	}
	.title+a{
		color: $text-gray;
		text-transform: uppercase;
		font-size: 9px;
		font-weight: bold;
	}
	.post-image{
		text-align: center;
		background-size: cover;
		background-position: center center;
		height: 230px;
	}
	.post-content{
		position: relative;
		// text-align: center;
		padding: .5rem 1rem;
		background-color: $brydge-gray;
	}
	.value{
		margin-left: 5px;
	}
}

.newsfeed-item-horizontalxxx{
	.box{
		border-color: $border-color;
	}
	.media-horizontal{
		background-color: $brydge-gray;
		.post-image{
			height: 190px;
		}
		.medium-5{
			width: 45%;
			iframe{
				float: left;
				height: 190px;
			}
		}
		.medium-7{
			width: 55%;
		}
	}
}

.newsfeed-trending{
	.box{
		border: 0;
		margin: 0;
	}
	.newsfeed-section{
		padding: 0;
	}
	.newsfeed-trending-title{
		display: none;
		padding: 1rem;
		padding-bottom: 0;
		h4{
			color: $text-gray;
			text-align: center;
		}
	}
}

.comments{
	background-color: $brydge-gray;
	font-size: 11px;
	.user-info .name{
		font-size: inherit;
	}

	.content-editable{
		font-size: 12px;
		min-height: 100%;
		background-color: #FFF;
		width: 100%;
		padding: 5px 8px;
		border: 1px solid $border-color;
	}
	.timestamp{
		font-size: inherit;
	}
	.replies-wrapper{
		margin-left: 34px;
		.content-editable{
			font-size: 10px;
		}
		ul{
			li{
				padding: 0 1rem 1rem;
				transition:all 300ms ease-out;
			}
			li:last-child{
				padding-bottom: 0;
			}
		}

	}
	.block-ellipsis{
		display: block; /* Fallback for non-webkit */
	  display: -webkit-box;
	  margin: 0 auto;
	  -webkit-line-clamp: 1;
	  -webkit-box-orient: vertical;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
	.comment-item:not(:last-child){
		padding-bottom: 1rem;
	}
	.comment{
	}
	.comment-header{
		padding-bottom: 1rem;
		max-resolution: 1rem;
		border-bottom: 1px solid $border-color;
		a.more+.brydge-loading{
			position: absolute;
			right: 1rem;
			top: .75rem;
		}
	}
	.action-links{
		a:not(:first-child){
			margin-left: 5px;
		}
	}
	.action-links:not(:last-child){
		padding-bottom: 5px;
	}
	.message{
		a{
			font-weight: normal;
		}
	}
	.comment-footer{
		padding-top: 1rem;
		a:not(:first-child){
			margin-left: 1rem;
		}
	}
}
