
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather);

$brydge-blue: #6BCDFD;
$button-blue: #51AFE5;
$brydge-gray: #F7FAFE;
$brydge-dark-gray: #7993A1;
$brydge-green: #42b97a;
$brydge-red: #E4938E;
$border-color: #E6E6E6;
$box-border-color: #e5e6e9 #dfe0e4 #d0d1d5;
$body-text-color: #3A3A3A;
$body-bg-color: #EEF9FF;
$box-border: #EFF3F5 #EFF3F5 #D5DFE4;
$error-color: red;
$text-gray: #94999d;
$text-light: #B6C3CA;
$text-orange: #FF5333;



@import "settings";
@import "foundation";
// @include foundation-everything;
@include foundation-everything(true);

@import "overrides";

@import "components/icons";
@import "components/buttons";
@import "components/tables";
@import "components/forms";
@import "components/modal";
@import "components/dropdowns";
@import "components/accordions";
@import "components/boxes";
@import "components/elements";
@import "components/aside";
@import "components/cards";
@import "components/post-box";
@import "components/lists";
@import "components/tabs";
@import "components/industry-picker";
@import "components/brydge-mention";
@import "components/loading";
@import "components/scrollbar";

@import "newsfeed";
@import "profile";
@import "messaging";
@import "header";
@import "pages";
@import "media";



body{
	background-color: $body-bg-color;
	color: $body-text-color;
}
*{
	outline-width: 0;

}

h1, h2, h3, h4, h5, h6 {
}
h4{
	color: $text-light;
	font-weight: bold;
	text-transform: uppercase;
}
ul.easing li{
	transition:all 300ms ease-out;
}
section.main{
	padding-top: 36px;
}
.strong{
	font-weight: bold;
}
a, a:hover, a:focus{
	color: $button-blue;
}
a.plain{
	color: inherit;
}
a.hover{
	position: relative;
	.wrapper{
		width: 100%;
		position: absolute;
		bottom: -3px;
		left: 0;
		z-index: 11;
	}
}
.paragraph{
	white-space: pre-line;
	word-break: break-word;
	// &:first-line{
	// 	line-height: 0;
	// }
	&.is-collapsed{
		display: inline-table;
	}
}
label.inline{
	display: inline-block;
	margin-right: 10px;
}
a.more.no-arrow:after{
	display: none;
}
a.no-color{
	color: inherit;
}
p.wrap{
		white-space: pre-wrap;
}
.clear{
	clear: both;
}
.index{
	max-width: 85rem;
}
.content-pad{
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.no-margin{
	margin: 0;
}

.text-gray{ color: $text-gray; }
.text-light{ color: $text-light; }
.text-blue{ color: $button-blue; }
.text-green{ color: $brydge-green !important; }
.text-red{ color: $brydge-red; }
.text-justify{ text-align: justify; }
.text-upper{ text-transform: uppercase; }
.text-title{ text-transform: capitalize; }
.text-normal{ text-transform: none; }

.font-light{
	font-weight: 400;
}
.invisible{
	visibility: hidden;
	position: absolute;
}
.bg-white{
	background-color: #FFF !important;
}
.bg-gray{
	background-color: $brydge-gray;
}
.body-bg-color{
	background-color: $body-bg-color;
}
.highlight{
	border:4px solid $brydge-blue !important;
}
.rounded{
	border-radius: 3px;
}
.overflow{
	overflow: hidden;
}
.shadowed{
	// box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset, 0 0px 1px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 5px 0.05px rgba(214, 224, 229, 0.8);
}
.no-shadow{
	box-shadow: none;
}
.bordered{
	border-style: solid;
	border-width: 1px;
	// border-color: #e9f2f7 #e3f1f9 #d5dfe4;
	border-color: $box-border;
}
.signup-section{
	padding-left: 3px;
	padding-right: 0;
	padding-bottom: 0;
}
.padding{
	padding: $global-padding;
}
.padded{
	padding-left: $global-padding;
	padding-right: $global-padding;
}
.padded-h{
	padding-top: $global-padding;
	padding-bottom: $global-padding;
}

.border-l{
	border-left: 1px solid $border-color;
}
.border-r{
	border-right: 1px solid $border-color;
}
.border-b{
	border-bottom: 1px solid $border-color;
}
.mt{
	margin-top: 1rem;
}
.mt25{
	margin-top: 25px;
}
.mt5{
	margin-top: 5px;
}
.mb-sm{ margin-bottom: .25rem !important; }
.mb{ margin-bottom: 1rem !important; }
.mb-2{ margin-bottom: 2rem !important; }
.mb-3{ margin-bottom: 3rem !important; }
.mb-4{ margin-bottom: 4rem !important; }
.mb-5{ margin-bottom: 5rem !important; }

.mb5{ margin-bottom: 5px !important;}
.mb20{ margin-bottom: 20px !important;}
.mb30{ margin-bottom: 30px !important;}
.mb40{ margin-bottom: 40px !important;}
.mb50{ margin-bottom: 50px !important;}


.timestamp, .tags{
	color: $text-gray;
	font-size: 10px;
}
input.flat{
	border: 0;
	box-shadow: none;
}
.circle{
	border-radius: 200px;
	overflow: hidden;
}
.inline-block{
	display: inline-block;
}
.block{
	display: block;
}
/*  #override foundation basic */





.select2-container .select2-choice abbr{
	display: none;
}

li[aria-expanded=true]{
	span.content-more{
		display: none;
	}
}
li[aria-expanded=false]{
	span.content-less{
		display: none;
	}
}

.truncate {
  // width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.no-select{
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.faded{
	margin-left: 1rem;
	visibility: hidden;
  opacity: 0;
  transition: visibility 5s, opacity 0.5s linear;
	&.error{
		color: $error-color;
	}
}
.faded.is-visible{
	visibility: visible;
 	opacity: 1;
	display: inline-block !important;
}


.animate{
	visibility: hidden;
  opacity: 0;
	height: 0;
  transition: visibility 5s, opacity 0.5s linear;
	&.error{
		color: $error-color;
	}
}
.animate.animate-show{
	visibility: visible;
 	opacity: 1;
	height: 100%;
	display: inline-block !important;
}


@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
