<div class="row">
  <div class="medium-7 small-12 columns">
    {{ post-box
    	postToNewsfeed='postToNewsfeed'
     	profile=profile
     	class="mb20"
     	submit="post" }}
		<div class="newsfeed-tabs">
			<h4 class="padded">Newsfeed Filter</h4>
			<div class="box">
		    {{picker-channel profile=profile menu=industries favorites=favorites select="setChannel" selected=channels loading=isFavoritesLoading}}

		    {{picker-location profile=profile select="setLocation" selected=googlePlaceObject}}

	      {{#zf-tabs id="newsfeed-tabs" class="tab-controls"}}
	        <li data-tab='live' class="tabs-title columns {{active-tab 'live' tab}}">
	          <a href="#live">Live</a>
	        </li>
	        <li data-tab='curated' class="tabs-title columns {{active-tab 'curated' tab}}">
	          <a href="#curated">Top</a>
	        </li>
	        <li class="search-box show-for-medium columns {{if isSearch 'active'}}">
	          <form onsubmit="return false;">
	            {{input
	              class="input-group-field flat"
	              type="search"
	              placeholder="Search this channel"
	              enter='search'
	              value=searchContent
                autocomplete="off"}}

	            {{fa-icon "search"}}
	          </form>

	        </li>
	        <li data-tab='search' class="hide medium-6 tabs-title {{active-tab 'search' tab}}">
	          <a href="#search">Search</a>
	        </li>
	      {{/zf-tabs}}
      </div>
			<div data-tabs-content="newsfeed-tabs">
				<div class="tabs-panel {{active-tab 'live' tab}}" id="live">
				    {{#if feed_live}}
					    {{newsfeed-list newsfeed=feed_live }}
              {{#brydge-scroller id="live" model=feed_live onClick="load"}}
                {{#if isLoading}}
                  <div class="brydge-loading"></div>
                {{/if}}
              {{/brydge-scroller}}
				    {{else}}
							{{#if isLoading }}
								<div class="brydge-loading"></div>
							{{else}}
					      <div class="column">
					        <div class="empty-message">
					          Looks like there are no recent posts on this channel. Go to "Top" to see recommended stories.
					        </div>
					      </div>
					    {{/if}}
				    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'curated' tab}}" id="curated">
			    {{#if newsfeed.curated}}
				    {{newsfeed-list newsfeed=newsfeed.curated }}
            {{#brydge-scroller id="curated" model=newsfeed.curated onClick="load"}}
              {{#if isLoading}}
                <div class="brydge-loading"></div>
              {{/if}}
            {{/brydge-scroller}}
			    {{else}}
						{{#if isLoading }}
							<div class="brydge-loading"></div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
                  No posts on this channel yet. Use the Channel Filters to find discover content and people in other industry channels.
				        </div>
				      </div>
						{{/if}}
			    {{/if}}
				</div>
				<div class="tabs-panel {{active-tab 'search' tab}}" id="search">
			    {{#if newsfeed.search}}
				    {{newsfeed-list newsfeed=newsfeed.search }}
            {{#brydge-scroller id="search" model=newsfeed.search onClick="load"}}
              {{#if isLoading}}
                <div class="brydge-loading"></div>
              {{/if}}
            {{/brydge-scroller}}
			    {{else}}
						{{#if isLoading }}
							<div class="brydge-loading"></div>
						{{else}}
				      <div class="column">
				        <div class="empty-message">
				          No Results found
				        </div>
				      </div>
				  	{{/if}}
			    {{/if}}
				</div>
			</div>
		</div>
  </div>
  <aside class="medium-5 small-12 columns show-for-medium">
    {{#if profile.configSetting.showGuide}}
      {{ partial 'partials/getting-started' }}
    {{/if}}


    {{ widget-invite-to-brydge }}
    {{ widget-recommendation }}

		{{ partial 'partials/user-guide-box' }}
    {{ partial "footer"}}

  </aside>
</div>

{{post-sharer submit="share"}}
{{post-as-new submit="post"}}
{{post-edit-dialog submit="edit"}}

{{industry-picker name="home" title="Add up to 10 Industries you want to Follow" max=10 selected=favoriteIndustries submit="onFavoriteIndustrySelect"}}
{{industry-picker-mobile name="home" title="Add up to 10 Industries you want to Follow" max=10 selected=favoriteIndustries submit="onFavoriteIndustrySelect"}}
