
.wrapper, .button-wrapper{
	position: relative;
	&.button.large{
		padding: 0;
		a{
			display: block;
			padding: 13px;
		}
	}
}


.button{
	background-color: #FFF;
	// min-width: 6rem;
	padding: 8px 12px;
	border-radius: 2px;
	&.button-border{
		// border: 1px solid $button-blue;
		border: 1px solid $medium-gray;
		color: #666;
		background-color: #DDD;
		&:hover{
			background-color: #DDD;
		}
	}

	&.rounded{
		border-radius: 2px;
	}
	&.radius{
		border-radius: 100px;
	}
	&.success{
		font-weight: bold;
		color: #FFF;
		&:hover, &:focus{
			color: #FFF;
			// background-color: $dark-blue;
		}
	}
	&.button-green{
		color: $brydge-green;
	}
	&.circle{
		min-width: auto;
		border-radius: 100px;
		background-color: $button-blue;
		padding: 6px 7px;
		&:hover, &:focus{
			background-color: $button-blue;
		}
	}

	&.secondary{
		color: #666;
		&:hover{
			color: inherit;
		}
	}
	&.green, &.green:hover, &.green:focus{
		background: $brydge-green;
		color: #FFF;
		font-weight: bold;
	}
	&.large{
		@extend .rounded;
		padding: 10px;
	}
	&:hover, &:focus{
		background-color: #FFF;
	}
	&.is-loading{
		padding: 2px;
	}
}
.btn{
	@extend .rounded;
}

.button-ellipsis{
	background-image: url(icons/ellipsis.png);
	background-size: 18px;
	background-position: center right;
	background-repeat: no-repeat;
	width: 100%;
	min-width: initial;
}

.button-clear, .button-clear:focus{
	background: transparent;
	padding-left: 0;
	min-width: auto;
	// color: #000;
}
.button-clear:hover, .button.clear{
	background-color: transparent;
	color: inherit;
}

.button-add-industries{
	// @extend .shadowed;
	@extend .bordered;
	position: relative;
	display: block;
	background-color: #FFF;
	padding: 3rem 1rem;
	text-align: center;
	text-transform: uppercase;
	min-height: 120px;
	i.fa{
		font-size: 16px;
		margin: 0;
		margin-bottom: 1rem;
	}
	i.fa, i.fa+div{
		color: $text-gray;
	}
	.button-header, .button-footer{
		text-transform: none;
		position: absolute;
		top: 1rem;
		left: 0;
		padding: 0 .5rem;
		width: 100%;
	}
	.button-footer{
		top: auto;
		bottom: 1rem;
		.fa{
			margin-bottom: 0;
		}
	}
}

.dropdown-button{
	color: $button-blue;
	position: relative;
	font-weight: bold;
	padding-right: 30px;
	font-size: 12px;
	&.middle{
		margin-top: .25rem;
	}
	.icons{
		opacity: .5;
	}
	.fa-caret-down{
		font-size: 16px;
		line-height: 1.6em;
	}
	.icons, .fa-caret-down{
		position: absolute;
		right: 10px;
		top: 2px;
		width: 10px;
	}

}

.button-overlay{
	display: block;
	.overlay-preview{
		opacity: .6;
	}
}
.button-play-wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 2;
	top: 0;
}
.button-play{
	display: block;
	margin: 16% auto;
	width: 20%;
}

.profile-actions a.button[data-toggle=dd-public-options]{
	padding: 12px 13px 11px;
	.icons{
		opacity: .2;
	}
}

.dropdown-button[data-toggle='industry-dropdown']{
	margin-bottom: 4px;
	font-size: 15px;
	text-transform: uppercase;

}

.footer-button{
	// border-top: 1px solid $border-color;
	background-color: $brydge-gray;
	// color: $button-blue;
	// text-transform: uppercase;
	// padding: 5px;
	// font-weight: bold;
	// font-size: 11px;
	// &:hover, &:focus{
	// 	background-color: #FFF;
	// 	color: $button-blue;
	// }
}


.follow-button{
	background-color: $brydge-dark-gray;
	color: #FFF;
	.unfollow-text{
		display: none;
	}
	&.large{
		width: 115px;
	}
	&:hover{
		background-color: $brydge-red !important;
		color: #FFF;
		.following-text{
			display: none;
		}
		.unfollow-text{
			display: block;
		}
	}
}

.form-input-button{
	button{
		min-width: 80px;		
	}
}
