.name{
	font-weight: bold;
	text-transform: capitalize;
}
.company{
	font-weight: bold;
}
table{
	tr:last-child{
		border-bottom: none;
	}
}
.title{
	font-weight: bold;
	font-size: 14px;
	&.large{
		font-size: 18px;
		line-height: 2rem;
	}
}
.sub-title{
	color: $text-gray;
}
.page-heading{
	padding: 2rem 0 3rem;
	text-align: center;
	h1{
		font-weight: bold;
		margin-bottom: 20px;
	}
	h1:last-child{
		margin-bottom: 0;
	}
}
.dashed-format{
	.dash:before{
		content:"\2014";
		position: absolute;
		margin-left: -16px;
		margin-top: 5px;
	}

	.validated-input input, .validated-input{
		margin-bottom: 0 !important;
	}
}

.with-text-helper{
	margin-bottom: 0 !important;
}
.with-text-helper + .text-helper{
	color: $text-gray;
	margin-left: .25rem;
	display: block;
	margin-top: -5px;
	font-size: 10px;
}
.with-text-helper + div.text-helper{
	margin-top: auto;
}
.avatar{
	@extend .circle;
	background-position: center center;
	background-size: cover;
	border: 1px solid $border-color;
	width: 40px;
	height: 40px;
	margin: auto;
	.overlay{
		display: none;
	}
	&:hover{
		.overlay{
			display: block;
			border: 1px solid #FFF;
			@extend .circle;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(0,0,0,.5);
			width: 100%;
			height: 100%;
			.fa{
				display: block;
				margin: auto;
				margin-top: 45%;
				font-size: 1.5rem;
				color: #FFF;
				width: 20px;
			}
		}
	}
}

.user{
	position: relative;
	.avatar{
		float: left;
	}
	.avatar-wrap{
		position: relative;
		float: left;
		.tooltip-dynamic{
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}
	.user-info{
		padding-left: 50px;
	}
	.action-button{
		display: inline-block;
	}
	&.section-main{
		@extend .clearfix;
		@extend .padding;
		// min-height: 87px;
	}
	.text-right{
		padding-left: 0;
	}
}
.user-info{
	.name{
		font-size: 14px;
	}
	.position{
		font-size: 12px;
		color: $text-gray;
	}
}
.user-small{
	&.smaller{
		.avatar{
			width: 25px;
			height: 25px;
		}
		.user-info{
			padding-left: 35px;
		}
		.icons{
			width: 10px;
			height: 10px;
		}

	}
	.avatar{
		width: 30px;
		height: 30px;
	}
	.user-info{
		padding-left: 40px;
		.name{
			font-size: 11px;
		}
		.position{
			font-size: 11px;
		}
	}

}


.menu.user-info{
	li:last-child a{
		padding-left: 0;
		padding-right: 0;
	}
}

.user-list{
	.avatar{
		width: 63px;
		height: 63px;
	}
	.user-info{
		padding-left: 75px;
	}
}

.accordion-arrow{
	&[aria-expanded="false"]:before,
	&[aria-expanded="false"]:after{
	  visibility: hidden;
	}
	&:after{
		@extend .arrow;
	  top: -19px;
	  left: 20px;
	  border-color: transparent transparent $brydge-gray transparent;
	  border-width: 10px;
	}
	&:before{
		@extend .arrow;
	  top: -21px;
	  left: 19px;
	  border-color: transparent transparent $border-color transparent;
	  border-width: 11px;
	}
}


.search-box{
	h1{
		margin-bottom: 3rem;
	}
	.fa-search{
		position: absolute;
		right: 1rem;
		top: .6rem;
		color: $body-text-color;
	}
	form{
		position: relative;
		input{
			font-size: 11px;
			@extend .rounded;
			border: 1px solid $border-color;
			padding: .6rem;
			padding-right: 3rem;
		}
	}
}



.dropdown-select{
	position: relative;
	// margin-bottom: 1.33rem;
	input{ margin: 0 !important; }

	.wrapper{
		// display: none;
	}
	.wrapper.is-open{
		display: block;
		position: absolute;
		z-index: 10;
		width: 100%;
		border-bottom: 1px solid $border-color;
		background-color: #FFF;
	}
	ul{
		@extend .shadowed;
		text-align: left;
	}
	li{
		border: 1px solid $border-color;
		color: $body-text-color;
		border-bottom: none;
		a{
			color: $button-blue;
			padding: 5px 1rem;
			display: block;
		}
	}
	li:hover{
		background-color: #CCC;
		color: #FFF;
	}
}

.ask-title, .page-title{
	font-size: 13px;
}

.user-top-form{
	background-color: $brydge-gray;
	select{
		width: 30%;
	}
	textarea{
		border-color: $border-color;
	}
	p{
		margin: 61px auto;
		text-align: center;;
	}
}

.tab-background{
	.title+strong{
		padding: .25rem 0;
		display: block;
	}
	// .section-accordion-content+a.more{
	// 	padding-top: 1rem;
	// }
}
.form-text-counter{
	position: relative;
	.text-count{
		color: $text-gray;
		position: absolute;
		bottom: .25rem;
		right: 1rem;
	}
	textarea:focus{
		box-shadow: none;
	}
}

.getting-started{
	section{
		h3{
			color: $body-text-color;
			margin-bottom: 1rem !important;
		}
		position: relative;
	}
	.badge{
		background-color: $text-gray;
		color: #FFF;
		font-size: 9px;
		position: absolute;
		top: 10px;
		left: 1rem;
	}
	p{
		strong{
			font-size: 14px;
		}
		margin-bottom: 0;
		padding-left: 25px;
	}
	p:not(:last-child){
		margin-bottom: 1rem;
	}
}
.work-history-group {
	a.more{
		color: $text-gray;
	}
}

.user-guide-box{
	padding: 1px;
	.button-overlay .overlay-preview{
		opacity: .9;
	}
	.button-play{
		margin: 28% auto;
	}
}

footer{
	.menu{
		>li:first-child a{
			padding-left: 0;
		}
	}
}

.industry-examples{
	.medium-3{
		margin-top: 3rem;
		padding-right: 10px !important;

	}
	.avatar{
		margin-top: 1rem;
	}
	.title{
		color: $button-blue;
	}
	.callout{
		background-color: $brydge-gray;
		border: none;
		color: $text-gray;
		.title{
			color: inherit;
		}
		p{
			margin-bottom: 1rem;
		}
		&:after{
			@extend .arrow;
		  top: 15px;
		  left: -20px;
		  border-color: transparent $brydge-gray transparent transparent ;
		  border-width: 10px;
		}
	}
	.alt{
		.medium-3{
			padding-right: 0;
			padding-left: 10px !important;
		}
		.callout{
			&:after{
				@extend .arrow;
			  top: 15px;
				left: auto;
			  right: -20px;
			  border-color: transparent transparent transparent $brydge-gray ;
			  border-width: 10px;
			}

		}
	}
}

.label-item{
	border-radius: 100px;
	line-height: inherit;
	background-color: $body-bg-color;
	border: 1px solid $brydge-blue;
	font-size: .9rem;
	margin-right: .2rem;
	margin-bottom: .3rem;
	padding: .2rem 1rem .3rem;
	color: $button-blue;
	font-weight: bold;
	.fa{
		cursor: pointer;
		margin-left: .5rem;
	}
}
.label-item:not(:last-of-type){
	// margin-right: 2px;
	// margin-bottom: 2px;
}

section.message-content{
	@extend .bg-white;
	padding: 0;
}

.ask-menu{
	li:not(:last-child){
		border-bottom: 1px solid $border-color;
	}
	a{
		@extend h4;
		padding: 1rem;
		margin: 0;
		font-size: 1rem;
		display: block;
		span{
			color: $brydge-blue;
		}
		i{
			margin-top: 3px;
		}
	}
	a span.badge{
		color: #FFF;
		margin-left: 6px;
		font-size: 11px;
		border-radius: 3px;
		min-width: 18px;
		padding: 1px 3px;
	}

}

.hover-close{
	.fa-times{
		display: none;
		float: right;
		margin-top: 3px;
	}
	li:hover{
		.fa-times{
			display: block;
		}
	}
}

div.error-messages{
	border: 1px solid $border-color;
	background-color: $brydge-gray;
	padding: 1rem;
	h4{
		margin-bottom: 5px;
		text-transform: none;
	}
	ul.errors{
		color: $text-orange;
		// text-transform: capitalize;
		li{
			margin-bottom: 5px;
		}
	}
}

footer{
	text-align: center;
	font-weight: bold;
	a{ color: $text-gray; }
	ul.menu-links{
		display: block;
		text-align: center;
		li{
			display: inline-block;
			a{
				padding: .7rem 1rem;
			}
		}
	}
}


.dialog-wrapper{
	@extend .rounded;
	background-color: #FFF;
	.error-messages{
		// margin: 0 2rem 1rem;
	}
}
.page-dialog:last-child{
	padding: 1rem;
	margin-bottom: 1rem;
}
.page-dialog{
	padding: 2rem 1rem;
	.logo{
		text-align: center;
		display: block;
		img {
			height: 40px;
		}
	}
}

.current-job{
	margin-top: 2.3rem;
}

.picker-tooltip{
	padding: 1rem 1.25rem;
	max-width: 350px !important;
}

span.middle{
	padding: 6px 0;
	display: inline-block;
}

.dot-after:after{
	content:'\00B7';
	padding-right:12px;
	margin-left: 12px;
	font-weight: bold;
}

.brydge-scroller{
	padding-bottom: 100px;
}
.brydge-messaging-scroller{
	padding: 0;
	.brydge-loading{
		margin: 1rem auto;
	}
}
.static-content{
	font-size: 15px;
}

.description-content{
	font-size: 13px;
	line-height: 1.6rem;
}

.channel-select{
	p{
		text-align: center;
		margin: 2.5rem 2rem;
	}
	ul+small{
		// position: absolute;
		// bottom: .5rem;
		margin-left: 2rem;
	}
}


.row-aligned-columns{
	display: flex !important;
	>.columns{
		align-items: stretch;
	}
}


.unsubscribe-menu{
	a{
		color: $text-gray;
	}
	font-size: 15px;
	font-weight: bold;
}


.notification-bubble{
	i{
		position: relative;
		font-style: normal;
	}
	.badge{
		min-width: 2.2em;
		font-size: 9px;
		font-weight: bold;
		text-align: center;
		line-height: 1.3em;
		position: absolute;
		top: 1rem;
		right: 1rem;
		z-index: 1;
		border: 1px solid #FFF;
	}
	.badge-large{
		font-size: 1rem;
		line-height: 1.2rem;
		top: -3px;
		right: -4px;
		min-width: 2.1rem;
		width: 30px;
		height: 30px;
		line-height: 19px;
	}
}

.follow-item{
	@extend .boxz;
	@extend .align-middle;
	margin-bottom: 1rem;
	padding: 1rem;
	.avatar-wrap .icons{
		width: 22px;
		height: 22px;
	}
	&:last-child{
		margin-bottom: 0;
	}
}


h1{
	.icons{
		&.rising-star, &.influencer{
			display: block;
			margin: auto;
			width: 50px;
			height: 50px;
			margin-bottom: 5px;
		}
	}
}

.tooltip-dynamic{
	display: inline-block;
}
.tip-dynamic{
	display: none;
}
