.reveal{
	padding: 0;
}
.reveal-overlay{
	background-color: rgba(65,65,65,.25);
}
.reveal{
	section.header{
		background-color: $brydge-gray;
	}
	section.title{
		h4{
			color: $body-text-color;
		}
		padding: 1rem;
	}
	.accordion-picker{
		>li.is-active{
			border-bottom: 1px solid $border-color;
		}
	}
	.newsfeed-item{
		border: none;
	}

}

.reveal.small{
	max-width: 470px;
}


#video-teaser{
	width: 667px;
}

#dialog-share-profile{
	.dialog-wrapper{
		background-color: $body-bg-color;
	}
	h2{
		font-size: 16px;
		font-weight: bold;
	}
	.title{
		font-size: 18px;
	}
	.stats{
		margin-bottom: 0;
		border-bottom: none;
	}
	.newsfeed-item{
		border: none;
	}
}

#post-edit-dialog{
	.x-button{
		display: none;
	}
}
