<section>
  <div class="row user mb">
    <div class="columns">
      <div class="avatar" style={{htmlSafeImage item.from.profile.avatarUrl}}>
        <img src="{{item.from.profile.avatarUrl}}" class="hide">
      </div>
      <div class="user-info">
        {{#if isOwner}}
          Complimented by {{link-to item.from.profile.fullName "profile" item.from.id class="name"}}
        {{else}}
          You complimented {{link-to item.to.profile.fullName "profile" item.to.id class="name"}}
        {{/if}}
        <div class="timestamp">
          {{#link-to "me.compliments.detail" item.id class="timestamp"}}
            {{timestamp item.updatedAt}}
          {{/link-to}}
        </div>

      </div>
    </div>
  </div>

  <strong class="text-title">{{item.title}}</strong>
  <div class="content-pad">
    {{item.content}}
  </div>
    <div class="section-footer-buttons">
      {{#if isOwner}}
        <a {{action "accept" item}} class="button success rounded">Add to profile</a>
      {{/if}}
      <a class="button button-border rounded" data-open={{concat 'dialog-box-' 'delete-' item.id}}>Delete</a>
    </div>
</section>

{{dialog-box name=(concat "delete-" item.id) item=item title="Delete Compliment" content="Are you sure you want to delete this compliment?" submit="delete"}}
