<section class="user">
  <div class="row">
    <div class="columns">
      <div class="avatar float-left" style={{htmlSafeImage "https://storage.googleapis.com/brydge-assets/assets/brydge-avatar.png"}}>
        <img src="https://storage.googleapis.com/brydge-assets/assets/brydge-avatar.png" class="hide">
      </div>

      <div class="user-info">
        <span class="name">
          Brydge
        </span>
        <div class="position">
          Stories We Recommend
        </div>
      </div>
    </div>
  </div>
</section>

<section class="newsfeed-trending-title">
  <h4><i class="fa fa-newspaper-o text-green" aria-hidden="true"></i>Popular This Week</h4>
</section>
<section class="newsfeed-section">
  {{#if post.title}}
    {{newsfeed-media-trending model=post}}
  {{/if}}
</section>

{{!--
<section class="post-actions">
  <div class="row">
    <div class="columns text-center">
      <a {{action "share" post}} data-open="postAsNew">
        <i class="fa fa-retweet" aria-hidden="true"></i>
        Share
      </a>
    </div>
  </div>
</section>
--}}

<section class="post-actions">
  <div class="row text-center collapse is-collapse-child">
    <div class="columns medium-3 small-4 text-left">
    </div>
    <div class="columns medium-3 small-4 text-left">
    </div>
    <div class="columns medium-3 small-4 text-right show-for-medium">
      <a {{action "viewComments"}}>Comment</a>
      {{#if post.commentCount}}<span>{{post.commentCount}}</span>{{/if}}
    </div>
    <div class="columns medium-3 small-4 text-right">
      <a {{action "share" post}} data-open="postAsNew">
        <i class="fa fa-retweet" aria-hidden="true"></i>
        Share
      </a>
    </div>
  </div>
</section>

{{comment-box type="trending" post=post total=post.commentCount expanded=expanded}}

{{dialog-box name=(concat "delete-" post.id) item=post title="Delete Post" content="Are you sure you want to delete this post?" submit="delete"}}
