<div class="row columns hide-for-medium">
	{{profile-menu profile=profile name="mobile"}}
</div>

<div class="row ask wrapper">
	{{#unless profile.settings.ask}}
		<div class="overlay-wrapper">
			<div class="overlay">
			</div>
		</div>
	{{/unless}}
  <aside class="medium-5 small-12 columns">
		{{profile-box profile=profile isOwner=true full=false}}

		<div class="show-for-medium">
			{{ partial 'me/ask/sidebar'}}
		</div>

  </aside>
  <div class="medium-7 small-12 columns">
		<div class="show-for-medium">
			{{profile-menu profile=profile }}
		</div>
    <div class="page-heading show-for-medium">
			<h1>Your Ask Page</h1>
			<p>
				{{#if profile.setting.ask}}
					You are currently accepting questions. To disable the ASK feature go to <a href="{{href-to 'settings' (query-params tab='ask')}}">Settings</a>.
				{{else}}
					You are currently not accepting questions. To enable the ASK feature go to <a href="{{href-to 'settings' (query-params tab='ask')}}">Settings</a>.
				{{/if}}
			</p>
		</div>
		<div class="hide-for-medium">
			{{ partial 'me/ask/sidebar'}}
		</div>
    <div class="mb">
			{{#zf-tabs id="tabs" class="tab-controls"}}
	      <li class="tabs-title medium-6 small-6 is-active">
					<a href="#panel1" aria-selected="true">Answered</a></li>
	      <li class="tabs-title medium-6 small-6">
					<a href="#panel2">Asked</a>
				</li>
	    {{/zf-tabs}}
		</div>

		<div class="tabs-content" data-tabs-content="tabs">
      <div class="tabs-panel is-active" id="panel1">
				{{#each toQuestions as |item| }}
					{{ask-card item=item}}
				{{else}}
					<div class="box">
						<section>
							<div class="empty-message">
								You haven't answered any questions
							</div>
						</section>
					</div>
				{{/each}}
				{{#brydge-scroller id="toQuestions" model=toQuestions onClick="load"}}
		      {{#if isLoading}}
		        <div class="brydge-loading"></div>
		      {{/if}}
		    {{/brydge-scroller}}

      </div>
      <div class="tabs-panel" id="panel2">
				{{#each fromQuestions as |item| }}
					{{ask-card item=item}}
				{{else}}
					<div class="box">
						<section>
							<div class="empty-message">
								You haven't asked any questions
							</div>
						</section>
					</div>
				{{/each}}
				{{#brydge-scroller id="fromQuestions" model=fromQuestions onClick="load"}}
		      {{#if isLoading}}
		        <div class="brydge-loading"></div>
		      {{/if}}
		    {{/brydge-scroller}}

      </div>
    </div>





  </div>
</div>

{{answer-form}}

{{dialog-share-profile profile=profile}}
