<div class="row columns hide-for-medium">
  {{profile-menu profile=profile name="mobile"}}
</div>

<div class="row">
  <aside class="columns medium-5 small-12">
    {{profile-box profile=profile}}
    {{partial 'partials/profile-sidebar'}}
  </aside>
  <div class="columns medium-7 small-12">
    <div class="show-for-medium">
      {{profile-menu profile=profile}}
    </div>
    {{post-box
        postToNewsfeed='postToNewsfeed'
        profile=profile
        submit="post" }}
    {{#if newsfeed}}
      {{newsfeed-list newsfeed=newsfeed }}
      {{#brydge-scroller id="newsfeed" model=newsfeed onClick="load"}}
        {{#if isLoading}}
          <div class="brydge-loading"></div>
        {{/if}}
      {{/brydge-scroller}}
    {{else}}
      {{#if isLoading }}
        <div class="brydge-loading"></div>
      {{else}}
        <div class="box">
          <section>
            <div class="empty-message">
              You haven't shared any posts yet.
            </div>
          </section>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

{{ post-sharer submit="share" }}
{{ post-edit-dialog submit="edit" }}
{{ dialog-share-profile profile=profile }}
