{{#if showComments}}
  <section class="comment-header">
    {{#if isMore}}
      <span class="dot-after">
      <a class="more no-arrow" {{action 'show'}}>
        View previous comments
      </a>
      </span>
    {{/if}}
    <a class="more no-arrow" {{action 'hide'}}>
      Hide comments
    </a>
    {{#if isLoading}}
      <div class="brydge-loading"></div>
    {{/if}}
  </section>
  <section class="comment-group">
    <ul class="easing no-bullet">
    {{#each comments as |item|}}
      <li class="comment-item">
        <div class="user user-small">
          {{avatar-wrap profile=item.user.profile}}
          <div class="user-info">
            <a href="{{href-to 'profile' item.user.profile.uid}}" class="name">{{item.user.profile.fullName}}</a>
            {{see-more content=item.content class="message mb-sm"}}
            <div class="block-ellipsis mb-sm">
            </div>
            <div class="comment">


              <div class="action-links">
                <a {{action "reply" item }}>Reply</a>
                {{#if (or (eq session.data.authenticated.user_id item.user.id) isPostOwner)}}
                  <i class="dot"></i>
                  <a {{action "delete" item}}>Delete</a>
                {{/if}}
                <i class="dot"></i>
                <span class="timestamp">{{timestamp item.insertedAt}}</span>
              </div>

              {{reply-box post=post item=item expanded=expanded}}

            </div>

          </div>
        </div>
      </li>
    {{/each}}
    </ul>
  </section>
{{else}}
  {{#if isLoading}}
    <section class="comment-group">
      <div class="brydge-loading"></div>
    </section>
  {{/if}}
{{/if}}

<section class="comments">
  <form>
    {{text-area
      value=commentContent
      key-up="resize"
      enter="submit"
      disabled=notAuthenticated
      class="textarea content-editable"
      placeholder="Write your comment"}}
  </form>
</section>

{{#if showComments}}
  <section class="comment-footer">
    <a class="more no-arrow" {{action 'hide'}}>
      Hide comments
    </a>
  </section>
{{else}}
  {{#if post.commentCount}}
    <section class="comment-footer">
      <a class="more no-arrow" {{action 'show'}}>
        View comments
      </a>
    </section>
  {{/if}}
{{/if}}
