<section>
  <div class="row user">
    <div class="columns medium-9">
      <div class="avatar" style={{htmlSafeImage item.from.profile.avatarUrl}}>
        <img src="{{item.from.profile.avatarUrl}}" class="hide">
      </div>
      <div class="user-info">
        {{link-to item.from.profile.fullName "profile" item.from.id class="name"}} complimented {{link-to item.to.profile.fullName "profile" item.to.id class="name"}}
      </div>
    </div>
    <div class="columns medium-3 text-right">
      {{#if isOwners}}
        <a class="button dropdown-button-arrow button-ellipsis" data-toggle="dd-card-menu-{{item.id}}"></a>
        {{#zf-dropdown id=(concat 'dd-card-menu-' item.id) closeOnClick=true class="card-menu-dropdown"}}
          <ul class="menu">
            <li><a data-open={{concat 'dialog-box-' 'delete-' item.id}}>Delete</a></li>
          </ul>
        {{/zf-dropdown}}
      {{/if}}

      <div class="timestamp">
        {{#link-to "compliments.detail" item.id class="timestamp"}}
          {{timestamp item.updatedAt}}
        {{/link-to}}
      </div>

    </div>
  </div>
</section>
<section>
  <div class="title large text-title">{{item.title}}</div>
  <div class="content-pad description-content">{{item.content}}</div>
</section>

{{dialog-box name=(concat "delete-" item.id) item=item title="Delete Compliment" content="Are you sure you want to delete this compliment?" submit="delete"}}
