  <section>
  <div class="section-main">
    <div class="user mb">
      <div class="avatar" style={{htmlSafeImage item.from.profile.avatarUrl }}>
        <img src= {{item.from.profile.avatarUrl}} class="hide">
      </div>
      <div class="user-info">
        {{#if isOwner}}
          <strong>Asked by</strong> <a href="{{href-to 'profile' item.from.profile.uid}}" class="name">{{item.from.profile.fullName}}</a>
        {{else}}
          <strong>You asked</strong> <a href="{{href-to 'profile' item.to.profile.uid}}" class="name">{{item.to.profile.fullName}}</a>
        {{/if}}
        <div>
          <a href="{{href-to 'me.ask.detail' item.id}}" class="timestamp">
            {{timestamp item.answeredAt}}
          </a>
        </div>
      </div>
    </div>
    <div class="content-pad">{{item.question}}</div>
    {{#if isOwner}}
      {{#if isPending}}
      <div class="section-footer-buttons">
        <a class="button success rounded" data-open={{concat 'answer-form-' item.id}}>Write Answer</a>
        <a class="button button-border rounded" data-open={{concat 'dialog-box-' 'delete-' item.id}}>Delete</a>
        <a class="button button-border rounded" data-open={{concat 'dialog-box-' 'flag-' item.id}}>Flag</a>
      </div>
      {{/if}}
    {{/if}}
  </div>
</section>

{{dialog-box name=(concat "delete-" item.id) item=item title="Delete Question" content="Are you sure you want to delete this question?" submit="delete"}}
{{dialog-box name=(concat "flag-" item.id) item=item title="Flag Question" content="Are you sure you want to flag this question?" submit="flag"}}
{{answer-form-modal item=item submit="submit"}}
