<form {{action 'post' on='submit'}} class="form-input">
	{{#if isLoading}}
		<span class="brydge-loading"></span>
	{{/if}}
  <div class="avatar circle" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
    <img src= {{avatarUrl}} class="hide">
  </div>
  <div class="input-wrapper">
    {{text-area
      value=postContent
			touch-end="edit"
      key-up="edit"
			focus-in="expand"
      class="textarea content-editable broadcast-textarea"
    	placeholder='Post updates, links, news or opinions'
      }}
  </div>
  {{#if site.title}}
		<div class="newsfeed-item newsfeed-item-horizontal">
			{{newsfeed-media model=site preview=true}}
		</div>
	{{/if}}

</form>
<div class="animate {{if expanded 'is-collapsed animate-show'}}">
	<ul class="no-bullet accordion-picker brydge-accordion bg-white">
	  <li>
	    <div>
	      {{partial "partials/channel-select"}}
	    </div>
	  </li>
	</ul>
	<section class="section-footer bg-gray">
		<div class="row">
			<div class="columns medium-8">
			</div>
		  <div class="columns medium-4 text-right">
				{{form-input-button submit="post" item=this text="Post" class="float-right" }}
		  </div>
		</div>
	</section>
</div>

{{dialog-box name="empty-post" item=profile confirm=true title="Say Something" content="You need to say something about links you post. Keep it interesting."}}
