<div class="profile-menu-buttons row collapse is-collapse-child">
  <div class="column medium-12 small-12">
    <div class="expanded button-group">
      {{#if isOwner}}
        {{link-to "Broadcasts" "me.index" class="button"}}
        {{link-to "Background" "me.background" class="button"}}
        {{link-to "Ask" "me.ask" class="button"}}
      {{else}}
        {{link-to "Broadcasts" "profile" profile.uid class="button"}}
        {{link-to "Background" "background" profile.uid class="button"}}
        {{link-to "Ask" "ask" profile.uid class="button"}}
      {{/if}}
      <a class="button menu dropdown-button-arrow button-ellipsis" data-toggle="dd-public-options-{{name}}"><i></i></a>
    </div>
  </div>
</div>
<div class="row columns wrapper">
  {{#zf-dropdown id=(concat "dd-public-options-" name) class="dropdown-menu" closeOnClick=true}}
    <ul class="menu">
      {{#if isOwner}}
        <li><a href="{{href-to 'me.following'}}">Following ({{followings}})</a></li>
        <li><a href="{{href-to 'me.followers'}}">Followers ({{followers}})</a></li>
        <li><a href="{{href-to 'me.edit'}}">Edit Profile</a></li>
        <li>
          <a data-open="dialog-share-profile">Share your profile</a>
        </li>
      {{else}}
        <li><a href="{{href-to 'following' profile.uid}}">Following ({{followings}})</a></li>
        <li><a href="{{href-to 'followers' profile.uid}}">Followers ({{followers}})</a></li>
      {{/if}}
    </ul>
  {{/zf-dropdown}}
</div>

{{!-- dialog-box name="disconnect" item=profile title="Disconnect from connection" content="Are you sure you want to disconnect?" submit="disconnect" --}}
