<div class="row columns hide-for-medium">
  {{profile-menu profile=profile name="mobile"}}
</div>
<div class="row">
  <aside class="columns medium-5 small-12">
    {{profile-box profile=profile full=false}}
    <div class="show-for-medium">
      {{partial 'partials/profile-sidebar'}}
    </div>
  </aside>

  <div class="columns medium-7 small-12">
    <div class="show-for-medium">
      {{profile-menu profile=profile}}
    </div>

    <div class="box tab-background hoverable">
      <section class="title-bg">
        <h3><i class="fa fa-paperclip" aria-hidden="true"></i>
          Work History
          {{#if isOwner}}
            <a href="{{href-to 'me.edit' (query-params tab='work')}}" class="editable">
              <i class="fa fa-pencil-square-o"></i>
            </a>
          {{/if}}

        </h3>
      </section>
        <div class="section-group section-accordion-group work-history-group">
          {{#each experiences as |item|}}
            {{partial "partials/work-history-item"}}
          {{else}}
            <div class="section-main">
              You haven't added any Work History
            </div>
          {{/each}}
        </div>
    </div>

    <div class="box hoverable">
      <section class="title-bg">
        <h3><i class="fa fa-graduation-cap" aria-hidden="true"></i>
          Academia
          {{#if isOwner}}
            <a href="{{href-to 'me.edit' (query-params tab='academia')}}" class="editable">
              <i class="fa fa-pencil-square-o"></i>
            </a>
          {{/if}}

        </h3>
      </section>
      <div class="section-group section-accordion-group">
        {{#each educations as |item|}}
          {{partial "partials/academia-item"}}
        {{else}}
          <div class="section-main">
            You haven't added any Academia
          </div>
        {{/each}}
      </div>
    </div>

    <div class="box hoverable">
      <section class="title-bg">
        <h3><i class="fa fa-globe" aria-hidden="true"></i>
          Languages
          {{#if isOwner}}
            <a href="{{href-to 'me.edit' (query-params tab='language')}}" class="editable">
              <i class="fa fa-pencil-square-o"></i>
            </a>
          {{/if}}

        </h3>
      </section>
      <div class="section-group section-accordion-group">
        {{#each languages as |item|}}
          {{partial "partials/language-item"}}
        {{else}}
          <section>
            <div class="section-main">
              You haven't added any Language
            </div>
          </section>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{dialog-share-profile profile=profile}}
