<header class="header-blue show-for-medium">
  <div class="row columns">
    <div class="top-bar">
      <div class="top-bar-title">
        <a href="{{href-to 'home'}}">
          <img src="https://storage.googleapis.com/brydge-assets/logo.svg" class="logo">
          <span>Beta</span>
        </a>
      </div>
        <div class="top-bar-left">
          <ul class="no-bullet align-stretch">
            <li>
              {{top-bar-search}}
            </li>
          </ul>
        </div>
        <div class="top-bar-right">
          <ul class="menu">
            <li>
              <ul class="top-bar-group menu menu-actions wrapper notification-bubble" {{ action "closeTooltip" preventDefault=false }}>
      					<li>
      						{{#zf-tooltip title="Notifications" vOffset=7}}
      							<a data-toggle="dd-notification" class="dropdown-button-arrow dropdown-button-icons">
      									<i class="icons stack">
                          {{#if notification.totalCount}}
                            <span class="alert badge badge-large">{{notification.totalCount}}</span>
                          {{/if}}
      									</i>
      							</a>
      						{{/zf-tooltip}}
      					</li>
                <li>
                  <span>
                    <a href="{{href-to 'home'}}" class="home-icon">
                      <i class="fa fa-home" aria-hidden="true"></i>
                    </a>
                  </span>
      					</li>
      					<li class="user-info user-small user-session no-bullet">
                  <span>
                    <a href="{{href-to 'profile' sessionAccount.account.profile.uid }}">
      								<div class="avatar" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
      									<img src= {{sessionAccount.account.profile.avatarUrl}} class="hide">
      								</div>
                    </a>
                  </span>
      					</li>
      					<li>
      						<ul class="menu">
      							<li>
      								{{#zf-tooltip title="Menu" vOffset=7}}
      									<a data-toggle="dd-menu" class="dropdown-button-arrow">
      										<i class="icons caret"></i>
      									</a>
      								{{/zf-tooltip}}
      							</li>
      						</ul>

      					</li>
      				</ul>

            </li>
          </ul>
        </div>
    </div>
  </div>
  <div class="row columns wrapper">

	{{#zf-dropdown id="dd-notification" class="dropdown-notification" closeOnClick=true}}
    {{#zf-tabs id="notification-tab" class="tab-controls brydge-tab-blue notification-bubble"}}
      <li class="tabs-title is-active columns">
        <a href="#notification-tab-panel1" data-id="view" aria-selected="true" class="wrapper">
          {{#zf-tooltip title="Profile Views" vOffset=7}}
            <i class="icons bino">
              {{#if notification.count.view}}
    						<span class="alert badge badge-large">{{notification.count.view}}</span>
    					{{/if}}
            </i>
          {{/zf-tooltip}}
        </a>
      </li>
      <li class="tabs-title columns">
        <a href="#notification-tab-panel2" data-id="notification">
          {{#zf-tooltip title="Notifications" vOffset=7}}
            <i class="icons stack">
              {{#if notification.count.notification }}
                <span class="alert badge badge-large">{{notification.count.notification}}</span>
              {{/if}}
            </i>
          {{/zf-tooltip}}
        </a>
      </li>
      <li class="tabs-title columns">
        <a href="#notification-tab-panel3" data-id="message">
          {{#zf-tooltip title="Messages" vOffset=7}}
            <i class="icons messages">
              {{#if notification.count.message }}
                <span class="alert badge badge-large">{{notification.count.message}}</span>
              {{/if}}
            </i>
          {{/zf-tooltip}}
        </a>
      </li>
    {{/zf-tabs}}

    <div class="tabs-content" data-tabs-content="notification-tab">
      <div class="tabs-panel is-active" id="notification-tab-panel1">
        <div class="dropdown-header">
    			<h4>See who's viewed your profile</h4>
          <div>
            You can turn this ON or OFF in <a href="{{href-to 'settings' (query-params tab='views')}}">Settings</a>.
          </div>
    		</div>
        <ul class="media-list user user-small">
    			{{#if settings.profileView}}
    				{{#each views as |item|}}
      				<li {{action "read" item}}>
                <a href="{{href-to 'profile' item.target.profile.uid}}" class={{if item.read false 'new-notification'}}>
                  {{avatar-wrap profile=item.target.profile}}
  					      <div class="user-info">
                    <span class="name">{{item.target.profile.fullName}}</span>
                    <span class="timestamp float-right">{{ timestamp-views item.createdAt }}</span>
  					        <div class="position">{{item.target.profile.career}}</div>
  					      </div>
                </a>
      				</li>
            {{else}}
              <li>
                <div class="empty-message">
                  {{#if notification.isLoading}}
                    <div class="brydge-loading"></div>
                  {{else}}
                    You have no profile views
                  {{/if}}
                </div>

      				</li>
    				{{/each}}

    			{{else}}
    				<li>
    					<div class="empty-message">
    						You have turned Profile Views off
    					</div>
    				</li>
    			{{/if}}
    		</ul>
        {{#if settings.profileView}}
          <a href="{{href-to 'profile-views'}}" class="footer-button button expanded">See all Profile Views</a>
        {{/if}}
      </div>
      <div class="tabs-panel" id="notification-tab-panel2">
        <div class="dropdown-header">
    			<h4>Your Notifications</h4>
    				<div>
              Get updates on your interaction with other users on Brydge.
    				</div>
    		</div>
        <ul class="media-list user user-small">
    		  {{#each notifications as |item|}}
    		    <li>
    		    	<a {{action "select" item}} class="{{if item.read false 'new-notification'}}">
                {{avatar-wrap profile=item.target.profile}}
                <div class="user-info">
                  <div>
                    <strong class="name">{{item.target.profile.fullName }}</strong> {{{notification-text item}}}
                  </div>
                  <span class="timestamp">{{ timestamp item.createdAt }}</span>
                </div>
    					</a>
    		    </li>
    		  {{else}}
    			  <li>
              <div class="empty-message">
                {{#if notification.isLoading}}
                  <div class="brydge-loading"></div>
                {{else}}
                  No new notifications
                {{/if}}
              </div>

    			  </li>
    		  {{/each}}
    	  </ul>
        <a href="{{href-to 'notifications'}}" class="footer-button button expanded">See all Notifications</a>

      </div>
      <div class="tabs-panel" id="notification-tab-panel3">
        <div class="dropdown-header">
    			<h4>Your Incoming Messages</h4>
    				<div>
    					Only people you follow can message you. Unfollow anyone that sends you spam or inappropriate messages.
    				</div>
    		</div>

    		<ul class="media-list user user-small">
    			{{#each messages as |item|}}
    			<li {{action "read" item}} class="{{if item.read false 'new-notification'}}">
    				{{#link-to "messages.conversation" item.referenceid class="no-color" }}
              {{avatar-wrap profile=item.target.profile}}
              <div class="user-info">
                <a class="name">{{item.target.profile.fullName}} {{#if item.count}}<span class="message-count">({{item.count}})</span>{{/if}}</a>
                <div class="timestamp float-right text-right">
                  {{ timestamp item.notifiedAt }}
                </div>
              </div>
              <div class="message-body truncate">{{{getNotificationContent item.content}}}</div>
    				{{/link-to}}
    			</li>
    			{{else}}
    			<li>
            <div class="empty-message">
              {{#if notification.isLoading}}
                <div class="brydge-loading"></div>
              {{else}}
                You have no recent messages
              {{/if}}
            </div>
    			</li>
    			{{/each}}
    		</ul>
    		{{#link-to 'messages' class="footer-button button expanded"}}
    			See all Messages
    		{{/link-to}}

      </div>
    </div>
	{{/zf-dropdown}}

	{{#zf-dropdown id="dd-menu" class="dropdown-menu" closeOnClick=true}}
		<ul class="menu">
			<li><a href="{{href-to 'home'}}">Home</a></li>
		</ul>
		<ul class="menu">
      <li><a href="{{href-to 'profile' sessionAccount.account.profile.uid  }}">Profile</a></li>
      <li><a href="{{href-to 'me.edit' }}">Edit Profile</a></li>
		</ul>
		<ul class="menu">
      <li><a href="{{href-to 'me.following' }}">Following</a></li>
      <li><a href="{{href-to 'me.followers' }}">Followers</a></li>
      <li><a href="{{href-to 'me.ask' }}">Ask</a></li>
		</ul>
		<ul class="menu hide">
      <li><a href="{{href-to 'search' }}">People Search</a></li>
		</ul>
		<ul class="menu">
      <li><a href="{{href-to 'settings' }}">Settings</a></li>
			<li><a {{action 'logout'}}>Log out</a></li>
		</ul>
	{{/zf-dropdown}}

</div>
</header>
<!-- Mobile Navigation -->
<header class="hide-for-medium">
  <div class="expanded button-group notification-bubble">
    {{#link-to 'home' class="button hollow"}}<i class="fa fa-home" aria-hidden="true"></i>{{/link-to}}
    {{#link-to 'mobile.notifications' class="button hollow"}}<i class="icons stack" aria-hidden="true">
      {{#if notification.totalCount}}
        <span class="alert badge badge-large">{{notification.totalCount}}</span>
      {{/if}}
    </i>{{/link-to}}
    {{#link-to 'me' class="button hollow"}}
      <div class="avatar" style={{htmlSafeImage sessionAccount.account.profile.avatarUrl}}>
        <img src= {{sessionAccount.account.profile.avatarUrl}} class="hide">
      </div>
    {{/link-to}}
    {{#link-to 'mobile.search' class="button hollow"}}<i class="fa fa-search" aria-hidden="true"></i>{{/link-to}}
    {{#link-to 'mobile.bookmarks' class="button hollow"}}<i class="fa fa-bars" aria-hidden="true"></i>{{/link-to}}
  </div>
</header>
